<!DOCTYPE html>
<html lang="en"> @using  Rs_71.BusinessLogic

@{
    string strRightList = centralCalls.getSessionString("strRightList" );
}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Code Joh [required skills] - www.codejoh.com</title> 
        <link href="~/assets/css/style.css" rel="stylesheet">
        <link href="~/assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet"> 
        <link href="~/assets/plugins/sweetalert/css/sweetalert.css" rel="stylesheet"> 
        <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
        <script src="~/assets/plugins/sweetalert/js/sweetalert.min.js"></script> 
    </head> 
    <body>
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <div id="main-wrapper">
            <div class="nav-header">
                <div class="brand-logo">
                    <a href="#">
                        <b class="logo-abbr"></b>
                        <span class="logo-compact"></span>
                        <span class="brand-title">
                        </span>
                    </a>
                </div>
            </div>
            <div class="header">
                <div class="header-content clearfix"> 
                    <div class="nav-control">
                        <div class="hamburger">
                            <span class="toggle-icon"><i class="icon-menu"></i></span>
                        </div>
                    </div>
                    <div class="header-left"> 
                    </div> 
                </div>
            </div> 
            <div class="nk-sidebar">
                <div class="nk-nav-scroll">
                    <ul class="metismenu" id="menu">
                                             <li>
                                                <a href="javascript:void(0);" class="has-arrow" aria-expanded="false"   ><i class="icon-notebook menu-icon"></i><span   class="nav-text" >Listing sites</span></a>
                                                <ul aria-expanded="false">
                                                    <li><a href="@Url.Content("~/user/new_listing_sites/")">New</a></li>
                                                    <li><a href="@Url.Content("~/user/view_listing_sites/")">View</a></li>
                                                </ul>
                                            </li> 

                                             <li>
                                                <a href="javascript:void(0);" class="has-arrow" aria-expanded="false"   ><i class="icon-notebook menu-icon"></i><span   class="nav-text" >Skills</span></a>
                                                <ul aria-expanded="false">
                                                    <li><a href="@Url.Content("~/user/new_skills/")">New</a></li>
                                                    <li><a href="@Url.Content("~/user/view_skills/")">View</a></li>
                                                </ul>
                                            </li> 

                        <li>
                            <a  href="@Url.Content("~/user/Change_Password")" >
                                <i class="icon-grid menu-icon"></i><span class="nav-text">Change password</span>
                            </a> 
                        </li>
                        <li>
                            <a  href="@Url.Content("~/user/login")" >
                                <i class="icon-logout"></i><span class="nav-text">Logout</span>
                            </a> 
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="content-body"> 
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">  
                               @RenderBody() 
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="footer">
                <div class="copyright"> 
                </div>
            </div> 
        </div> 
        <script src="~/assets/plugins/common/common.min.js"></script>
        <script src="~/assets/js/custom.min.js"></script>
        <script src="~/assets/js/settings.js"></script>
        <script src="~/assets/js/gleek.js"></script>
        <script src="~/assets/js/styleSwitcher.js"></script> 
        <script src="~/assets/plugins/validation/jquery.validate.min.js"></script>
        <script src="~/assets/plugins/tables/js/jquery.dataTables.min.js"></script> 
        <script src="~/assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script> 
        <script src="~/assets/plugins/validation/jquery.validate-init.js"></script> 
        <script src="~/assets/plugins/tables/js/datatable-init/datatable-basic.min.js"></script> 
        <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script> <script >

            jQuery('#Date').datepicker({
                    autoclose: true,
                    format: 'dd/M/yyyy',
                    todayhighlight: true
                });</script>
    </body> 
</html>  