
@{
    List<Rs_71.Data.Models.Rs_71listing_site> data0  =  ( List<Rs_71.Data.Models.Rs_71listing_site>)@ViewBag.data0;
} 
 @{
 string sel = ""; 
}  

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit skills</h4>
        <div class="form-validation">
            <form id ="widgetu1290"class="form-valide" action="#"  method="post" enctype="multipart/form-data"> 
                @Html.AntiForgeryToken()  
                                                        <input id="id" name="id"  type="hidden" value="@ViewBag.id" />

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Date</label>
                            <div class="col-lg-6">
                   <input id="Date" name="Date" required   type="datetime" class="form-control" maxlength="1"
                       value="@ViewBag.Date"    placeholder="date" />
                           <input id="oDate" name="oDate" type="hidden"  value="@ViewBag.date"     />

                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Site</label>
                            <div class="col-lg-6">
                   <select class="form-control" id="Site" name="Site">
                   <option value="">Select Site</option>
                   @foreach (Rs_71.Data.Models.Rs_71listing_site item in data0)
                   {
                       sel = "";
                       if (ViewBag.site == item.Id.ToString())
                       {
                            sel = " selected ";
                       }
                       <option  @sel  value="@item.Id"> @item.Site_name</option>
                   }
               </select>
                    </div>

                </div>

                   <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Skill</label>
                            <div class="col-lg-6">
                           <input    id="Skill" name="Skill" required onkeyup="doClean(this)" type="text" class="form-control" maxlength="60"
                               value="@ViewBag.Skill"        placeholder="skill" />
                           <input id="oSkill" name="oSkill" type="hidden"  value="@ViewBag.skill"     />

                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-lg-8 ml-auto">
                        <button type="button" class="btn btn-primary" onclick="checkAndGo()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script> 
    var selectedRights = ""; 
    function setRight(id) { 
        selectedRights = document.getElementById("selectedRights").value;  
        if (selectedRights.indexOf("sphinxcol" + id + "sphinxcol") > -1) { 
            selectedRights = selectedRights.split("sphinxcol" + id + "sphinxcol").join(""); 
        } 
        else { 
            selectedRights += "sphinxcol" + id + "sphinxcol"; 
        } 
        document.getElementById("selectedRights").value = selectedRights;  
    } 
    function doClean(text) { 
        text.value = text.value.split("'").join("");
        text.value = text.value.split(">").join("");
        text.value = text.value.split("<").join("");
        text.value = text.value.split("~").join("");
        text.value = text.value.split("&").join("");
        text.value = text.value.split("\\").join("");
        text.value = text.value.split("_").join("");
        text.value = text.value.split("%").join("");
        text.value = text.value.split("\"").join("");
    } 
    function doCleanN(text) {
        var list = "0123456789";
        var data = text.value;
        for (i = 0; i < data.length; i++) {
            if (list.indexOf(data.substring(i, i + 1)) == -1) {
                data = data.split(data.substring(i, i + 1)).join(""); 
            }
        }
        text.value = data;
    } 
        function msg(txt) {
            sweetAlert("...", txt, "info");
        }
        function doCleanNumber(textBox) {
            var strVal;
            var strVal1;
            var strVal2;
            var dot;
            var i;
            var strComma;
            strVal2 = "";
            strComma = "";
            strVal1 = "";
            if (isNaN(textBox.value.split(",").join(""))) {
                textBox.value = parseFloat(textBox.value.split(",").join(""));
            }
            strVal = textBox.value;
            dot = 0;
            for (i = 0; i < strVal.length; i++) {
                if (strVal.substring(i, i + 1).indexOf('.') > -1) {
                    dot = dot + 1;
                }
                if ((strVal.substring(i, i + 1).indexOf('0') > -1) || (strVal.substring(i, i + 1).indexOf("1") > -1) || (strVal.substring(i, i + 1).indexOf("2") > -1) || (strVal.substring(i, i + 1).indexOf("3") > -1) || (strVal.substring(i, i + 1).indexOf("4") > -1) || (strVal.substring(i, i + 1).indexOf("5") > -1) || (strVal.substring(i, i + 1).indexOf("6") > -1) || (strVal.substring(i, i + 1).indexOf("7") > -1) || (strVal.substring(i, i + 1).indexOf("8") > -1) || (strVal.substring(i, i + 1).indexOf("9") > -1) || ((strVal.substring(i, i + 1).indexOf('.') > -1) && dot <= 1)) {
                    strVal1 = strVal1 + strVal.substring(i, i + 1)
                }
            }
            if ((strVal1.indexOf('.') == 0)) {
                strVal1 = "0" + strVal1;
            }
            if (strVal1.indexOf('.') > 0) {
                if (((strVal1.length) - (strVal1.indexOf('.') + 1)) > 2) {
                    strVal1 = strVal1.substring(0, strVal1.indexOf('.') + 3);
                }
            } 
            strVal = "";
            if (strVal1.indexOf('.') != -1) {
                strVal = strVal1.substring(strVal1.indexOf('.'), strVal1.indexOf('.') + 3);
                strVal1 = strVal1.substring(0, strVal1.indexOf('.'));
            } 
            while (strVal1.length > 0) {
                if (strVal1.length > 3) {
                    strVal2 = strVal1.substring(strVal1.length - 3, strVal1.length) + strComma + strVal2;
                    strVal1 = strVal1.substring(0, strVal1.length - 3);
                    strComma = ",";
                }
                else {
                    strVal2 = strVal1 + strComma + strVal2;
                    strVal1 = "";
                }
            } 
            if (strVal2.indexOf('.') > 0) {
                strVal2 = strVal2.substring(0, strVal2.indexOf('.')); 
            } 
            textBox.value = strVal2 + strVal;
        } 
    function checkAndGo() { 
        
        doClean(document.getElementById("Skill"));
         if (document.getElementById("Date").value.trim().length == 0) {
             msg("Please enter date");
             return;
         } 
         if (document.getElementById("Site").value.trim().length == 0) {
             msg("Please select site");
             return;
         } 
         if (document.getElementById("Skill").value.trim().length == 0) {
             msg("Please enter skill");
             return;
         } 

        document.getElementById("widgetu1290").submit(); 
    } 
</script> 
<script> 
    var statusMessage = "@ViewBag.status" || false; 
    if (statusMessage != false && statusMessage.length > 0) {
        msg(statusMessage); 
    }
</script> 
